    <div class="parallax-container">
      <div class="parallax"><img src="/assets/images/fridgeBackground.jpg"></div>
    </div>
    {{!-- <div class="container"> --}}
      <div class="row-transparent">
        <h2 class="choose card-transparent z-depth-5">Choose three ingredients that you'd like to cook with...</h2>
          <ul class="collapsible">
            <li>
                <div class="collapsible-header">Vegetables</div>
                    <div class="collapsible-body"><span>
                        {{#each vegetables}}
                        <label>
                            <input type="checkbox"/>
                            <span>{{name  }}  </span>
                        </label>
                    {{/each}}
                    </span></div>
            </li>
            <li>
                <div class="collapsible-header">Protein</div>
                    <div class="collapsible-body"><span>
                        {{#each protein}}
                        <label>
                            <input type="checkbox"/>
                            <span>{{name  }}  </span>
                        </label>
                    {{/each}}
                    </span></div>
            </li>
            <li>
                <div class="collapsible-header">Fruits</div>
                    <div class="collapsible-body"><span>
                        {{#each fruit}}
                        <label>
                            <input type="checkbox"/>
                            <span>{{name  }}  </span>
                        </label>
                    {{/each}}
                    </span></div>
            </li>
            <li>
                <div class="collapsible-header">Dairy</div>
                    <div class="collapsible-body"><span>
                        {{#each dairy}}
                        <label>
                            <input type="checkbox"/>
                            <span>{{name  }}  </span>
                        </label>
                    {{/each}}
                    </span></div>
            </li>
            <li>
                <div class="collapsible-header">Legumes</div>
                    <div class="collapsible-body"><span>
                        {{#each legumes}}
                        <label>
                            <input type="checkbox"/>
                            <span>{{name  }}  </span>
                        </label>
                    {{/each}}
                    </span></div>
            </li>
      </div>
    {{!-- </div> --}}
    <div class="parallax-container">
      <div class="parallax"><img src="/assets/images/fridgeBackground.jpg"></div>
    </div>

